In this lab, we will perform some Exploratory Data Analysis (EDA) to find some patterns in the data and determine what would be the label for training supervised models.

In the data set, there are several different cases where the booster did not land successfully. Sometimes a landing was attempted but failed due to an accident; for example, <code>True Ocean</code> means the mission outcome was successfully  landed to a specific region of the ocean while <code>False Ocean</code> means the mission outcome was unsuccessfully landed to a specific region of the ocean. <code>True RTLS</code> means the mission outcome was successfully  landed to a ground pad <code>False RTLS</code> means the mission outcome was unsuccessfully landed to a ground pad.<code>True ASDS</code> means the mission outcome was successfully landed on  a drone ship <code>False ASDS</code> means the mission outcome was unsuccessfully landed on a drone ship.

In this lab we will mainly convert those outcomes into Training Labels with `1` means the booster successfully landed `0` means it was unsuccessful.

Several examples of an unsuccessful landing are shown here:

In [3]:
# Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np

### Data Analysis

In [6]:
df=pd.read_csv("https://dvcharts.github.io/data/raw/23/FY2023-ceac-2023-04-01.csv")
df.head(10)

,region,caseNumber,caseNumberFull,consulate,status,submitDate,statusDate,Issued,AP,Ready,Refused,Refused221g,InTransit,Transfer,NVC,2nlDate
0,AF,1,2023AF1,None,None,None,None,0,0,0,0,0,0,0,0,None
1,AF,2,2023AF2,None,None,None,None,0,0,0,0,0,0,0,0,None
2,AF,3,2023AF3,NRB,Issued,2021-Oct-14,2022-Oct-18,1,0,0,0,0,0,0,0,2023-Jan-01
3,AF,4,2023AF4,None,NVC,None,None,0,0,0,0,0,0,0,1,None
4,AF,5,2023AF5,None,NVC,None,None,0,0,0,0,0,0,0,1,None
5,AF,6,2023AF6,KGL,Issued,2021-Oct-14,2022-Dec-09,1,0,0,0,0,0,0,0,2023-Jan-01
6,AF,7,2023AF7,None,None,None,None,0,0,0,0,0,0,0,0,None
7,AF,8,2023AF8,None,None,None,None,0,0,0,0,0,0,0,0,None
8,AF,9,2023AF9,None,None,None,None,0,0,0,0,0,0,0,0,None
9,AF,10,2023AF10,None,NVC,None,None,0,0,0,0,0,0,0,1,None

In [33]:
# Apply value_counts() on column LaunchSite
data=df
data.dropna(inplace = True)
 
ank=data.loc[lambda data: data['consulate'] == 'ANK']
ank

,region,caseNumber,caseNumberFull,consulate,status,submitDate,statusDate,Issued,AP,Ready,Refused,Refused221g,InTransit,Transfer,NVC,2nlDate,Indexes
63653,AS,152,2023AS152,ANK,Refused221g,2021-Nov-08,2023-Feb-03,0,0,2,0,2,0,0,0,2023-Jan-01,0
66780,AS,3279,2023AS3279,ANK,Ready,2021-Nov-06,2023-Mar-31,0,0,1,0,0,0,0,0,2023-Feb-24,0
68662,AS,5161,2023AS5161,ANK,Ready,2021-Nov-07,2023-Mar-27,0,0,2,0,0,0,0,0,2023-Mar-24,0
90687,EU,1060,2023EU1060,ANK,Issued,2021-Nov-04,2022-Oct-06,1,0,0,0,0,0,0,0,2023-Jan-01,0
94384,EU,4757,2023EU4757,ANK,Issued,2021-Nov-04,2023-Jan-30,1,0,0,0,0,0,0,0,2023-Jan-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68680,AS,5179,2023AS5179,ANK,Ready,2021-Oct-24,2023-Mar-27,0,0,2,0,0,0,0,0,2023-Mar-24,0
64991,AS,1490,2023AS1490,ANK,Refused221g,2021-Nov-06,2023-Feb-28,0,0,0,0,2,0,0,0,2023-Jan-01,0
18461,AF,18462,2023AF18462,ANK,Ready,2021-Oct-19,2023-Feb-27,0,0,1,0,0,0,0,0,2023-Feb-24,0
8219,AF,8220,2023AF8220,ANK,Issued,2021-Nov-07,2023-Feb-07,1,0,0,0,0,0,0,0,2023-Jan-01,0
94399,EU,4772,2023EU4772,ANK,Issued,2021-Nov-09,2023-Jan-30,1,0,0,0,0,0,0,0,2023-Jan-01,0

In [34]:
ankas=ank.loc[lambda ank: ank['region'] == 'AS']
ankas

,region,caseNumber,caseNumberFull,consulate,status,submitDate,statusDate,Issued,AP,Ready,Refused,Refused221g,InTransit,Transfer,NVC,2nlDate,Indexes
63653,AS,152,2023AS152,ANK,Refused221g,2021-Nov-08,2023-Feb-03,0,0,2,0,2,0,0,0,2023-Jan-01,0
66780,AS,3279,2023AS3279,ANK,Ready,2021-Nov-06,2023-Mar-31,0,0,1,0,0,0,0,0,2023-Feb-24,0
68662,AS,5161,2023AS5161,ANK,Ready,2021-Nov-07,2023-Mar-27,0,0,2,0,0,0,0,0,2023-Mar-24,0
63639,AS,138,2023AS138,ANK,Refused221g,2021-Nov-09,2023-Mar-31,0,0,0,0,1,0,0,0,2023-Jan-20,0
63637,AS,136,2023AS136,ANK,Refused221g,2021-Oct-24,2023-Mar-31,0,0,0,0,2,0,0,0,2023-Jan-20,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65786,AS,2285,2023AS2285,ANK,Refused221g,2021-Nov-05,2023-Mar-27,0,0,0,0,2,0,0,0,2023-Jan-01,0
67774,AS,4273,2023AS4273,ANK,Ready,2021-Oct-18,2023-Mar-27,0,0,2,0,0,0,0,0,2023-Mar-24,0
68296,AS,4795,2023AS4795,ANK,Ready,2021-Oct-08,2023-Mar-27,0,0,2,0,0,0,0,0,2023-Mar-24,0
68680,AS,5179,2023AS5179,ANK,Ready,2021-Oct-24,2023-Mar-27,0,0,2,0,0,0,0,0,2023-Mar-24,0
64991,AS,1490,2023AS1490,ANK,Refused221g,2021-Nov-06,2023-Feb-28,0,0,0,0,2,0,0,0,2023-Jan-01,0

In [46]:
ankas221g=ankas.loc[lambda ankas: ankas['caseNumberFull'] == '2023AS2317']
ankas221g

,region,caseNumber,caseNumberFull,consulate,status,submitDate,statusDate,Issued,AP,Ready,Refused,Refused221g,InTransit,Transfer,NVC,2nlDate,Indexes
65818,AS,2317,2023AS2317,ANK,Issued,2021-Oct-13,2023-Mar-15,2,0,0,0,1,0,0,0,2023-Jan-01,0

<code>True Ocean</code> means the mission outcome was successfully  landed to a specific region of the ocean while <code>False Ocean</code> means the mission outcome was unsuccessfully landed to a specific region of the ocean. <code>True RTLS</code> means the mission outcome was successfully  landed to a ground pad <code>False RTLS</code> means the mission outcome was unsuccessfully landed to a ground pad.<code>True ASDS</code> means the mission outcome was successfully  landed to a drone ship <code>False ASDS</code> means the mission outcome was unsuccessfully landed to a drone ship. <code>None ASDS</code> and <code>None None</code> these represent a failure to land.

In [44]:
print(ankas221g.to_string())

      region  caseNumber caseNumberFull consulate       status   submitDate   statusDate  Issued  AP  Ready  Refused  Refused221g  InTransit  Transfer  NVC      2nlDate  Indexes
63653     AS         152      2023AS152       ANK  Refused221g  2021-Nov-08  2023-Feb-03       0   0      2        0            2          0         0    0  2023-Jan-01        0
63639     AS         138      2023AS138       ANK  Refused221g  2021-Nov-09  2023-Mar-31       0   0      0        0            1          0         0    0  2023-Jan-20        0
63637     AS         136      2023AS136       ANK  Refused221g  2021-Oct-24  2023-Mar-31       0   0      0        0            2          0         0    0  2023-Jan-20        0
63630     AS         129      2023AS129       ANK  Refused221g  2021-Oct-18  2023-Mar-31       0   0      0        0            3          0         0    0  2023-Jan-20        0
63759     AS         258      2023AS258       ANK  Refused221g  2021-Oct-10  2023-Feb-01       0   0      0        0            4          0         0    0  2023-Jan-01        0
64395     AS         894      2023AS894       ANK  Refused221g  2021-Oct-09  2023-Feb-24       0   0      0        0            2          0         0    0  2023-Jan-01        0
65395     AS        1894     2023AS1894       ANK  Refused221g  2021-Oct-12  2022-Dec-08       0   0      0        0            1          0         0    0  2023-Jan-01        0
66092     AS        2591     2023AS2591       ANK  Refused221g  2021-Oct-13  2023-Mar-17       0   0      0        0            1          0         0    0  2023-Jan-20        0
63711     AS         210      2023AS210       ANK  Refused221g  2021-Nov-08  2023-Feb-03       0   0      1        0            2          0         0    0  2023-Jan-01        0
64407     AS         906      2023AS906       ANK  Refused221g  2021-Oct-20  2023-Mar-21       0   0      0        0            1          0         0    0  2023-Jan-20        0
66469     AS        2968     2023AS2968       ANK  Refused221g  2021-Nov-06  2023-Mar-30       0   0      1        0            1          0         0    0  2023-Jan-01        0
63597     AS          96       2023AS96       ANK  Refused221g  2021-Nov-07  2023-Mar-30       0   0      0        0            2          0         0    0  2023-Jan-20        0
66435     AS        2934     2023AS2934       ANK  Refused221g  2021-Oct-15  2023-Feb-27       0   0      0        0            2          0         0    0  2023-Jan-01        0
65046     AS        1545     2023AS1545       ANK  Refused221g  2021-Oct-28  2023-Feb-24       0   0      0        0            2          0         0    0  2023-Jan-01        0
64464     AS         963      2023AS963       ANK  Refused221g  2021-Oct-16  2022-Oct-14       0   0      0        0            2          0         0    0  2023-Jan-01        0
64482     AS         981      2023AS981       ANK  Refused221g  2021-Nov-04  2022-Oct-18       0   0      3        0            1          0         0    0  2023-Jan-01        0
65480     AS        1979     2023AS1979       ANK  Refused221g  2021-Oct-26  2023-Mar-08       0   0      0        0            1          0         0    0  2023-Jan-01        0
63799     AS         298      2023AS298       ANK  Refused221g  2021-Oct-16  2023-Feb-01       0   0      0        0            3          0         0    0  2023-Jan-01        0
65937     AS        2436     2023AS2436       ANK  Refused221g  2021-Oct-13  2022-Oct-18       0   0      0        0            1          0         0    0  2023-Jan-01        0
66449     AS        2948     2023AS2948       ANK  Refused221g  2021-Oct-19  2023-Mar-21       0   0      0        0            1          0         0    0  2023-Jan-01        0
63551     AS          50       2023AS50       ANK  Refused221g  2021-Nov-08  2023-Mar-30       0   0      0        0            1          0         0    0  2023-Jan-20        0
65067     AS        1566     2023AS1566       ANK  Refused221g  2021-Oct-24  2023-Mar-17       0   0      0        0            1          0         0    0  2023-Jan-20        0
65439     AS        1938     2023AS1938       ANK  Refused221g  2021-Nov-07  2023-Mar-01       0   0      0        0            2          0         0    0  2023-Jan-01        0
64328     AS         827      2023AS827       ANK  Refused221g  2021-Oct-28  2023-Mar-03       0   0      0        0            2          0         0    0  2023-Jan-20        0
64325     AS         824      2023AS824       ANK  Refused221g  2021-Oct-18  2022-Dec-29       0   0      0        0            3          0         0    0  2023-Jan-01        0
64186     AS         685      2023AS685       ANK  Refused221g  2021-Oct-26  2023-Feb-01       0   0      0        0            1          0         0    0  2023-Jan-01        0
64195     AS         694      2023AS694       ANK  Refused221g  2021-Nov-05  2023-Mar-30       0   0      2        0            1          0         0    0  2023-Jan-20        0
65273     AS        1772     2023AS1772       ANK  Refused221g  2021-Oct-13  2023-Mar-08       0   0      1        0            1          0         0    0  2023-Jan-01        0
66235     AS        2734     2023AS2734       ANK  Refused221g  2021-Oct-20  2023-Mar-30       0   0      1        0            2          0         0    0  2023-Jan-20        0
64734     AS        1233     2023AS1233       ANK  Refused221g  2021-Nov-05  2023-Mar-01       0   0      0        0            5          0         0    0  2023-Jan-01        0
65296     AS        1795     2023AS1795       ANK  Refused221g  2021-Nov-06  2023-Mar-31       0   0      0        0            2          0         0    0  2023-Jan-20        0
64084     AS         583      2023AS583       ANK  Refused221g  2021-Nov-05  2023-Feb-24       0   0      0        0            2          0         0    0  2023-Jan-01        0
64235     AS         734      2023AS734       ANK  Refused221g  2021-Nov-04  2023-Mar-30       0   0      1        0            2          0         0    0  2023-Jan-01        0
64239     AS         738      2023AS738       ANK  Refused221g  2021-Oct-29  2023-Feb-02       0   0      0        0            3          0         0    0  2023-Jan-01        0
64244     AS         743      2023AS743       ANK  Refused221g  2021-Nov-01  2022-Oct-27       0   0      0        0            3          0         0    0  2023-Jan-01        0
66035     AS        2534     2023AS2534       ANK  Refused221g  2021-Oct-18  2023-Mar-17       0   0      0        0            3          0         0    0  2023-Jan-20        0
64202     AS         701      2023AS701       ANK  Refused221g  2021-Nov-01  2023-Feb-27       0   0      0        0            2          0         0    0  2023-Jan-01        0
64305     AS         804      2023AS804       ANK  Refused221g  2021-Nov-02  2023-Mar-31       0   0      1        0            1          0         0    0  2023-Jan-20        0
64233     AS         732      2023AS732       ANK  Refused221g  2021-Oct-20  2023-Mar-16       0   0      0        0            1          0         0    0  2023-Jan-01        0
66022     AS        2521     2023AS2521       ANK  Refused221g  2021-Oct-09  2023-Mar-31       0   0      0        0            1          0         0    0  2023-Jan-20        0
65185     AS        1684     2023AS1684       ANK  Refused221g  2021-Oct-14  2023-Mar-23       0   0      0        0            1          0         0    0  2023-Jan-01        0
66241     AS        2740     2023AS2740       ANK  Refused221g  2021-Oct-26  2023-Mar-30       0   0      0        0            2          0         0    0  2023-Jan-20        0
65135     AS        1634     2023AS1634       ANK  Refused221g  2021-Nov-01  2023-Feb-24       0   0      0        0            1          0         0    0  2023-Jan-01        0
65136     AS        1635     2023AS1635       ANK  Refused221g  2021-Oct-08  2023-Mar-09       0   0      0        0            1          0         0    0  2023-Jan-01        0
63892     AS         391      2023AS391       ANK  Refused221g  2021-Nov-02  2023-Mar-17       0   0      0        0            4          0         0    0  2023-Jan-01        0
66072     AS        2571     2023AS2571       ANK  Refused221g  2021-Nov-02  2023-Mar-24       0   0      0        0            2          0         0    0  2023-Jan-01        0
63863     AS         362      2023AS362       ANK  Refused221g  2021-Nov-07  2022-Nov-04       0   0      0        0            1          0         0    0  2023-Jan-01        0
63902     AS         401      2023AS401       ANK  Refused221g  2021-Oct-28  2023-Mar-31       0   0      0        0            4          0         0    0  2023-Jan-20        0
63845     AS         344      2023AS344       ANK  Refused221g  2021-Nov-04  2022-Nov-11       0   0      0        0            1          0         0    0  2023-Jan-01        0
63834     AS         333      2023AS333       ANK  Refused221g  2021-Nov-05  2023-Mar-08       0   0      0        0            2          0         0    0  2023-Jan-01        0
65127     AS        1626     2023AS1626       ANK  Refused221g  2021-Oct-29  2022-Dec-21       0   0      0        0            4          0         0    0  2023-Jan-01        0
63974     AS         473      2023AS473       ANK  Refused221g  2021-Oct-18  2023-Mar-31       0   0      1        0            1          0         0    0  2023-Jan-20        0
63982     AS         481      2023AS481       ANK  Refused221g  2021-Oct-09  2023-Feb-24       0   0      0        0            4          0         0    0  2023-Jan-01        0
65993     AS        2492     2023AS2492       ANK  Refused221g  2021-Oct-28  2022-Nov-17       0   0      0        0            2          0         0    0  2023-Jan-01        0
64354     AS         853      2023AS853       ANK  Refused221g  2021-Oct-28  2023-Mar-17       0   0      0        0            2          0         0    0  2023-Jan-20        0
64352     AS         851      2023AS851       ANK  Refused221g  2021-Oct-21  2023-Mar-08       0   0      0        0            3          0         0    0  2023-Jan-01        0
64000     AS         499      2023AS499       ANK  Refused221g  2021-Oct-12  2023-Mar-30       0   0      0        0            2          0         0    0  2023-Jan-20        0
65168     AS        1667     2023AS1667       ANK  Refused221g  2021-Nov-05  2023-Feb-24       0   0      0        0            2          0         0    0  2023-Jan-01        0
64363     AS         862      2023AS862       ANK  Refused221g  2021-Oct-10  2023-Mar-03       0   0      0        0            1          0         0    0  2023-Jan-20        0
64362     AS         861      2023AS861       ANK  Refused221g  2021-Oct-31  2023-Mar-17       0   0      0        0            4          0         0    0  2023-Jan-20        0
65018     AS        1517     2023AS1517       ANK  Refused221g  2021-Nov-09  2023-Mar-30       0   0      1        0            1          0         0    0  2023-Jan-20        0
66257     AS        2756     2023AS2756       ANK  Refused221g  2021-Oct-18  2023-Mar-30       0   0      0        0            1          0         0    0  2023-Jan-20        0
65568     AS        2067     2023AS2067       ANK  Refused221g  2021-Nov-05  2023-Mar-17       0   0      0        0            4          0         0    0  2023-Jan-20        0
65853     AS        2352     2023AS2352       ANK  Refused221g  2021-Oct-20  2023-Mar-16       0   0      0        0            4          0         0    0  2023-Jan-01        0
65640     AS        2139     2023AS2139       ANK  Refused221g  2021-Oct-10  2023-Jan-23       0   0      0        0            3          0         0    0  2023-Jan-01        0
66351     AS        2850     2023AS2850       ANK  Refused221g  2021-Oct-29  2023-Mar-08       0   0      0        0            1          0         0    0  2023-Jan-01        0
65759     AS        2258     2023AS2258       ANK  Refused221g  2021-Nov-07  2023-Mar-31       0   0      0        0            1          0         0    0  2023-Jan-20        0
66163     AS        2662     2023AS2662       ANK  Refused221g  2021-Oct-28  2023-Mar-24       0   0      0        0            1          0         0    0  2023-Jan-01        0
66167     AS        2666     2023AS2666       ANK  Refused221g  2021-Nov-01  2023-Mar-30       0   0      0        0            2          0         0    0  2023-Jan-20        0
66368     AS        2867     2023AS2867       ANK  Refused221g  2021-Nov-08  2023-Mar-27       0   0      0        0            2          0         0    0  2023-Jan-20        0
65700     AS        2199     2023AS2199       ANK  Refused221g  2021-Oct-30  2023-Mar-08       0   0      0        0            1          0         0    0  2023-Jan-01        0
64634     AS        1133     2023AS1133       ANK  Refused221g  2021-Oct-27  2022-Oct-14       0   0      0        0            3          0         0    0  2023-Jan-01        0
66156     AS        2655     2023AS2655       ANK  Refused221g  2021-Oct-29  2023-Mar-17       0   0      1        0            1          0         0    0  2023-Jan-01        0
65603     AS        2102     2023AS2102       ANK  Refused221g  2021-Oct-25  2023-Feb-13       0   0      0        0            1          0         0    0  2023-Jan-01        0
66260     AS        2759     2023AS2759       ANK  Refused221g  2021-Oct-23  2023-Mar-08       0   0      0        0            1          0         0    0  2023-Jan-01        0
64856     AS        1355     2023AS1355       ANK  Refused221g  2021-Oct-18  2023-Jan-10       0   0      0        0            1          0         0    0  2023-Jan-01        0
65625     AS        2124     2023AS2124       ANK  Refused221g  2021-Nov-06  2023-Mar-31       0   0      0        0            1          0         0    0  2023-Jan-20        0
65817     AS        2316     2023AS2316       ANK  Refused221g  2021-Oct-08  2023-Mar-08       0   0      1        0            1          0         0    0  2023-Jan-01        0
65819     AS        2318     2023AS2318       ANK  Refused221g  2021-Oct-20  2023-Mar-08       0   0      0        0            3          0         0    0  2023-Jan-01        0
64863     AS        1362     2023AS1362       ANK  Refused221g  2021-Nov-02  2023-Feb-03       0   0      0        0            4          0         0    0  2023-Jan-01        0
66340     AS        2839     2023AS2839       ANK  Refused221g  2021-Oct-31  2023-Mar-08       0   0      2        0            1          0         0    0  2023-Jan-01        0
65841     AS        2340     2023AS2340       ANK  Refused221g  2021-Oct-29  2023-Feb-16       0   0      1        0            2          0         0    0  2023-Jan-01        0
66172     AS        2671     2023AS2671       ANK  Refused221g  2021-Nov-06  2023-Mar-24       0   0      0        0            1          0         0    0  2023-Jan-20        0
66336     AS        2835     2023AS2835       ANK  Refused221g  2021-Nov-09  2023-Mar-30       0   0      0        0            3          0         0    0  2023-Jan-20        0
66309     AS        2808     2023AS2808       ANK  Refused221g  2021-Nov-01  2023-Mar-30       0   0      2        0            2          0         0    0  2023-Jan-20        0
64846     AS        1345     2023AS1345       ANK  Refused221g  2021-Nov-04  2023-Feb-27       0   0      0        0            2          0         0    0  2023-Jan-01        0
64623     AS        1122     2023AS1122       ANK  Refused221g  2021-Nov-06  2023-Mar-30       0   0      2        0            1          0         0    0  2023-Jan-20        0
64795     AS        1294     2023AS1294       ANK  Refused221g  2021-Oct-21  2023-Mar-30       0   0      2        0            2          0         0    0  2023-Jan-20        0
65884     AS        2383     2023AS2383       ANK  Refused221g  2021-Nov-04  2023-Mar-21       0   0      0        0            1          0         0    0  2023-Jan-01        0
66207     AS        2706     2023AS2706       ANK  Refused221g  2021-Nov-03  2023-Mar-24       0   0      1        0            2          0         0    0  2023-Jan-20        0
65892     AS        2391     2023AS2391       ANK  Refused221g  2021-Oct-11  2023-Mar-14       0   0      0        0            2          0         0    0  2023-Jan-01        0
64776     AS        1275     2023AS1275       ANK  Refused221g  2021-Nov-08  2023-Feb-24       0   0      0        0            1          0         0    0  2023-Jan-01        0
66405     AS        2904     2023AS2904       ANK  Refused221g  2021-Oct-24  2023-Mar-08       0   0      0        0            1          0         0    0  2023-Jan-01        0
65703     AS        2202     2023AS2202       ANK  Refused221g  2021-Nov-08  2023-Feb-15       0   0      0        0            1          0         0    0  2023-Jan-01        0
64536     AS        1035     2023AS1035       ANK  Refused221g  2021-Oct-24  2023-Mar-24       0   0      2        0            1          0         0    0  2023-Jan-01        0
65531     AS        2030     2023AS2030       ANK  Refused221g  2021-Oct-31  2023-Mar-31       0   0      3        0            1          0         0    0  2023-Jan-20        0
65786     AS        2285     2023AS2285       ANK  Refused221g  2021-Nov-05  2023-Mar-27       0   0      0        0            2          0         0    0  2023-Jan-01        0
64991     AS        1490     2023AS1490       ANK  Refused221g  2021-Nov-06  2023-Feb-28       0   0      0        0            2          0         0    0  2023-Jan-01        0

We create a set of outcomes where the second stage did not land successfully:

In [18]:
bad_outcomes=set(landing_outcomes.keys()[[1,3,5,6,7]])
bad_outcomes

{'False ASDS', 'False Ocean', 'False RTLS', 'None ASDS', 'None None'}

### TASK 4: Create a landing outcome label from Outcome column

Using the <code>Outcome</code>,  create a list where the element is zero if the corresponding  row  in  <code>Outcome</code> is in the set <code>bad_outcome</code>; otherwise, it's one. Then assign it to the variable <code>landing_class</code>:

In [19]:
# landing_class = 0 if bad_outcome
# landing_class = 1 otherwise
landing_class = [0 if x in bad_outcomes else 1 for x in df['Outcome']]

df['Class']=landing_class

This variable will represent the classification variable that represents the outcome of each launch. If the value is zero, the  first stage did not land successfully; one means  the first stage landed Successfully

In [20]:
df['Class']=landing_class
df[['Class']].head(8)

   Class
0      0
1      0
2      0
3      0
4      0
5      0
6      1
7      1

In [21]:
df.head(5)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857,0

We can use the following line of code to determine  the success rate:

In [22]:
df["Class"].mean()

0.6666666666666666

We can now export it to a CSV for the next section,but to make the answers consistent, in the next lab we will provide data in a pre-selected date range.

<code>df.to_csv("dataset_part\_2.csv", index=False)</code>

## Authors

<a href="https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

<a href="https://www.linkedin.com/in/nayefaboutayoun/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Nayef Abou Tayoun</a> is a Data Scientist at IBM and pursuing a Master of Management in Artificial intelligence degree at Queen's University.

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description      |
| ----------------- | ------- | ------------- | ----------------------- |
| 2021-08-31        | 1.1     | Lakshmi Holla | Changed Markdown        |
| 2020-09-20        | 1.0     | Joseph        | Modified Multiple Areas |
| 2020-11-04        | 1.1.    | Nayef         | updating the input data |
| 2021-05-026       | 1.1.    | Joseph        | updating the input data |

Copyright © 2021 IBM Corporation. All rights reserved.